screen_shoot.png
purple_rectangle.png
square.png
triangle.png
carre-couleur-simple-face-magnetique.jpg
purple_rectangle.jpg
trash.py
dissertation_master_2024_master_loïck.pdf
test.py
build/
install/
log/
box.png
frames_2024-12-12_03.11.36.gv
frames_2024-12-12_03.11.36.pdf
circle.png
frames_2024-12-12_11.35.27.gv
frames_2024-12-12_11.35.27.pdf
mask.png
result.png
worlds_new2.sdf~
fproject_world.sdf~
fproject_world.sdf.bak
obstacle_detection_1.png
obstacle_detection.png
rosbag2_2024_12_16-20_32_03