screen_shoot.png
purple_rectangle.png
square.png
triangle.png
carre-couleur-simple-face-magnetique.jpg
purple_rectangle.jpg
trash.py
dissertation_master_2024_master_loïck.pdf
test.py
build/
install/
log/